.item {
  display: inline-block;
  width: 230px;
  height: 300px;
  border: solid rgb(238, 238, 238) 0.1rem;
  margin: 0.3rem;
  background-color: #ffee58;
}

.list-title {
  text-align: center;
  color: #f24826;
  font-size: 20px;
  margin: 40px;
  font-weight: bold;
  background: white;
}
