.alert-box {
  color: #f24826;
}

.login-main {
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.login-title {
  color: #f24826;
  font-size: 20px;
  margin: 40px;
  font-weight: bold;
  background: white;
}

.login-email input {
  width: 20%;
  height: 3em;
  margin: 10px;
  border: solid 2px #f24826;
  border-radius: 8px;
  color: #f24826;
}

.login-password input {
  width: 20%;
  height: 3em;
  margin: 10px;
  border: solid 2px #f24826;
  border-radius: 8px;
  color: #f24826;
}

.btn button {
  width: 10%;
  height: 3em;
  margin: 20px;
  color: #f24826;
  background-color: #fff;
  border-radius: 8px;
  border: solid 2px #f24826;
}

/* .btn button:hover {
  color: #ffcf00;
} */

.sns-title {
  margin-top: 20px;
  color: #706d73;
  font-weight: bold;
}

.btn-kakao button {
  width: 10%;
  height: 3em;
  margin: 60px;
  background-color: #fceb3e;
  border-radius: 8px;
  border: solid 1px #fceb3e;
  font-weight: bold;
  box-shadow: 0 4px 5px 0;
}

.btn button:hover {
  box-shadow: 0 80px 0 0 #fceb3e inset;
  font-weight: bold;
}
